* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700px;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #222;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0px;
}
button.normal {
  font-size: 14px;
  font-weight: 600px;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
button.white {
  font-size: 14px;
  font-weight: 600px;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
body {
  width: 100%;
}
/* header start */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600px;
  color: #1a1a1a;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#navbar li a:hover {
  color: #027a72;
}
#navbar li a.active {
  color: #028077;
}
#navbar li a.active::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  left: 20px;
  bottom: -3px;
  background-color: #027a72;
}
#navbar li a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -4px;
  left: 20px;
  background-color: #027a72;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#navbar li a:hover::after {
  width: 50%;
  height: 2px;
}

/* home page */
#hero {
  background-image: url("../imgs/hero4.png");
  background-size: cover;
  background-position: top 25% right 0;
  height: 90vh;
  width: 100%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #027a72;
}
#hero button {
  background-image: url("../imgs/button.png");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  padding: 14px 80px 14px 65px;
  font-size: 16px;
  font-weight: 700;
  color: #027a72;
  cursor: pointer;
}
/* feature */
#feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.2);
}
#feature .fe-box h6 {
  padding: 8px 9px 6px 8px;
  line-height: 1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #027a72;
  background-color: #fddde4;
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: #cdebbc;
}

/* Products */

#product1 {
  text-align: center;
}
#product1 .pro {
  position: relative;
  width: 23%;
  min-width: 250px;
  padding: 10px 20px;
  border: 1px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 15px 0px;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  font-size: 16px;
  color: #606063;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i {
  color: rgb(231, 160, 7);
  font-size: 12px;
}
#product1 .pro .des h4 {
  padding-top: 7px;
  color: #027a72;
  font-weight: 700;
  font-size: 16px;
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #e8f6ea;
  color: #027a72;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}
/* banner */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../imgs/b2.jpg");
  background-size: cover;
  width: 100%;
  height: 40vh;
}
#banner h4 {
  font-size: 16px;
  color: #fff;
}
#banner h2 {
  font-size: 30px;
  color: #fff;
  padding: 10px 0;
}
#banner h2 span {
  color: #ef3636;
}
#banner button:hover {
  background-color: #027a72;
  color: #fff;
}
/* sm banner */
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../imgs/b17.jpg");
  background-size: cover;
  min-width: 580px;
  height: 50vh;
  padding: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#sm-banner .banner-box2 {
  background-image: url("../imgs/b10.jpg");
}
#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300px;
}
#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800px;
}
#sm-banner p {
  color: #fff;
  font-size: 14px;
  font-weight: 500px;
  padding-bottom: 15px;
}

.banner-box:hover button {
  background-color: #027a72;
  border: 1px solid #027a72;
}
/* banner3 */
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 80px;
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../imgs/b7.jpg");
  background-size: cover;
  min-width: 30%;
  height: 30vh;
  padding: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  margin-bottom: 2s0px;
}
#banner3 .banner-box3 {
  background-image: url("../imgs/b18.jpg");
}
#banner3 .banner-box2 {
  background-image: url("../imgs/b4.jpg");
}
#banner3 h2 {
  font-weight: 900px;
  font-size: 22px;
  color: #fff;
}
#banner3 h3 {
  font-weight: 800px;
  font-size: 15px;
  color: #ef3636;
}
/* newsletters */
#newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../imgs/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter .newstext {
  padding: 0 80px;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700px;
  color: #fff;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600px;
  color: #818ea0;
}
#newsletter p span {
  color: #ffbd27;
}
#newsletter .form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #027a72;
  color: #fff;
  height: 3.125rem;
  width: 40%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
  color: #606063;
}
footer a {
  font-size: 13px;
  color: #222;
  margin-bottom: 10px;
  text-decoration: none;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #465b52;
  cursor: pointer;
  padding-right: 4px;
}
footer .follow i:hover,
footer a:hover {
  color: #027a72;
}
footer .install .roww {
  display: flex;
}
footer .install .roww img {
  border: 1px solid #027a72;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer .install .roww .img2 {
  margin-left: 5px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .copyright {
  width: 100%;
  text-align: center;
}
/* ////////////////////////////////////// Shop /////////////////////////////////////// */
#page-header {
  background-image: url("../imgs/b1.jpg");
  background-size: cover;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
#page-header h2,
p {
  color: #fff;
}
#pagination {
  margin-top: 40px;
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #027a72;
  padding: 15px 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: #fff;
  font-weight: 600px;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600px;
}
/* ////////////////////////////// single product ///////////////////////////////// */
#pro-details {
  display: flex;
  justify-content: space-between;
}
.single-pro-image {
  width: 40%;
  margin-right: 50px;
}
.small-img-groupe {
  display: flex;
  justify-content: space-between;
}
#MainImg {
  margin-bottom: 4px;
  cursor: pointer;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.single-pro-details {
  width: 60%;
  padding-top: 30px;
}

.single-pro-details h4 {
  padding: 20px 0 20px 0;
  font-weight: 600;
}
.single-pro-details h2 {
  font-size: 26px;
  font-weight: 600;
}
.single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
.single-pro-details input:focus {
  outline: none;
}
.single-pro-details button {
  background-color: #027a72;
}

/* /////////////////////////////////////////blog/////////////////////////////////////////////// */
#page-header.blog-header {
  background-image: url("../imgs/b19.jpg");
  background-size: cover;
  width: 100%;
  height: 40vh;
}
#blog {
  padding: 150px 150px 0 150px;
  position: relative;
}
#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}
#blog img {
  width: 100%;
  height: 300px;
}
#blog .blog-details {
  width: 50%;
}
#blog .blog-details p {
  color: #606063;
}
#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
}
#blog .blog-details a::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #000;
  top: 6px;
  right: -60px;
}
#blog .blog-details a:hover {
  color: #027a72;
}
#blog .blog-details a:hover::after {
  background-color: #027a72;
}
#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0px;
  font-size: 70px;
  font-weight: 700px;
  color: #c9cbce;
  z-index: -9;
}

/* /////////////////////////////////////////////About////////////////////////////////////////////// */
#page-header.about-header {
  background-image: url("../imgs/banner.png");
  background-size: cover;
  width: 100%;
  height: 40vh;
}
#about-head {
  display: flex;
  align-items: center;
}
#about-head img {
  width: 50%;
  height: auto;
}
#about-head div {
  padding-left: 40px;
}
#about-app {
  text-align: center;
}
#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}
#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* //////////////////////////////////////////contact//////////////////////////// */
#contact-details {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
#contact-details .details {
  width: 40%;
}
#contact-details .details span,
#form-details form span {
  font-size: 12px;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
#contact-details .details li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}
#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}
#contact-details .map {
  width: 55%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
  height: 100%;
}
#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}
#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form-details form button {
  background-color: #027a72;
  color: #fff;
}
#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
#form-details .people div img {
  width: 65px;
  height: 65px;
  margin-right: 15px;
}
#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form-details .people div p span {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  display: block;
}

/* //////////////////////////////////////cart//////////////////////////////////////////////// */
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table img {
  width: 70px;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding-top: 15px;
}
#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon {
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
  font-weight: 600;
}
#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#coupon button {
  background-color: #027a72;
  color: #fff;
  padding: 12px 20px;
}
#subtotal {
  width: 50%;
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
}
#subtotal button {
  background-color: #027a72;
  color: #fff;
  padding: 12px 20px;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}
#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}
